/* src/index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .contact-header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-header h1 {
    margin: 0;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-right input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  .contact-page {
    padding: 20px;
  }
  
  .contact-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .contact-card {
    background-color: white;
    padding: 15px;
    gap:30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-card h3 {
    margin: 0;
    color: #007BFF;
  }
  