body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .login-container {
    width: 320px;
    margin: 100px auto;
    background: rgb(13, 225, 229);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }
  .btn-signup {
    background-color: #210768;
    color: white;
  }
  .btn:hover {
    background-color: #19078a;
  }
  
  .btn-signin{
    background-color: #0ece2e;
    opacity: 0.8;
  }
  
  .signup:hover {
    background-color: #3ff0f3;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  